<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />-->
		<add key="feedz.io" value="https://f.feedz.io/sixlabors/sixlabors/nuget/index.json"/>
	</packageSources>

	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />
		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>
</configuration>